<ion-view view-title="Episode #{{episodeId}}">
  <ion-content>
  	<div class="card padding">
	  	<h2>{{currentEpisode.title}}</h2>
	  	<p>{{pubDate}}</p>
	  	<p>{{duration}}</p>
	  </div>

	  <div class="range no-select padding seek-bar">

	  	<!-- <span>{{position | number: 0}}</span> -->
	  	
	  	<input
	  		type="range"
	  		name="seekBar"
	  		min="0"
	  		max="{{duration}}"
	  		ng-model="position"
	  	>
	  </div>
	</ion-content>
	
	<ion-footer-bar class="footer-bar" ng-click="playPause()">
		<div class="row">
			<div class="col center-text">
				<i class="icon" ng-class="{'ion-ios-play-outline': isPaused, 'ion-ios-pause-outline': !isPaused}"></i>
			</div>
		</div>
	</ion-footer-bar>
</ion-view>
