<ion-view view-title="Episode #{{episodeId}}">
  <ion-content>
  	<div class="card padding">
	  	<h2>{{currentEpisode.title}}</h2>
	  	<p>{{pubDate}}</p>
	  </div>
	</ion-content>
	
	<ion-footer-bar class="footer-bar">
		<div class="row">
			<div class="col center-text" ng-click="play()" ng-hide="isPlaying()">
				<i class="icon ion-ios-play-outline"></i>
			</div>
			<div class="col center-text" ng-click="pause()" ng-show="isPlaying()">
				<i class="icon ion-ios-pause-outline"></i>
			</div>
		</div>
	</ion-footer-bar>
</ion-view>
