<ion-view view-title="Episode #{{episodeId}}">
  <ion-content>
  	<div class="card padding">
	  	<h3>{{currentEpisode.title}}</h3>
	  	<p>{{pubDate}}</p>
	  </div>
	</ion-content>
	
	<ion-footer-bar class="footer-bar">
		<div class="seek-bar">
			<span class="padding-right">{{position | secondsToDateTime | date: 'H:mm:ss'}} / {{audioMeta.duration | secondsToDateTime | date: 'H:mm:ss'}}</span>
			<div class="range">
		  	<input
		  		type="range"
		  		name="seekBar"
		  		min="0"
		  		max="{{audioMeta.duration}}"
		  		ng-model="position"
		  		ng-change="seeked()"
		  	>
		  </div>
		 </div>

		<div class="row" ng-click="playPause()">
			<div class="col center-text">
				<i class="icon" ng-class="{'play-icon': isPaused, 'pause-icon': !isPaused}"></i>
			</div>
		</div>
	</ion-footer-bar>
</ion-view>
