<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Legal</h1>
    <div class="buttons">
      <button class="button button-clear icon ion-ios-close-empty header-item" ng-click="close(2)"></button>
    </div>
  </ion-header-bar>
  <ion-content class="sponsor-content">
    <p>Information on cannabis use and cultivation provided on 420RADIO is intended solely for adults residing in states where cannabis is legal.</p>

    <p>Cannabis is still criminally prohibited by international treaties, federal law, and most state laws.</p>

    <p>User of this application assumes all criminal and civil risks retaining to use and cultivation of cannabis.</p>
  </ion-content>
</ion-modal-view>
