<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">sacredserum</h1>
    <div class="buttons">
      <button class="button button-clear icon ion-ios-close-empty header-item" ng-click="closeSponsor()"></button>
    </div>
  </ion-header-bar>
  <ion-content class="sponsor-content">
    <a onclick="window.open('http://sacredserum.com/', '_blank', 'location=yes'); return false;">
      <img src="img/ss-logo-vert.svg">
      <p>A stunning collection of cannabis accessories that delivers on exquisite design, exceptional quality & unforgettable flavor.</p>
    </a>
  </ion-content>
</ion-modal-view>
