<ion-view view-title="420 Radio">
	<ion-content>

		<div class="card primary-buttons">
				<div class="row">
					<div class="col">
						<a class="button button-block button-clear button-green icon-left ion-ios-play-outline" href="#/app/listenNow">
							Listen Now
						</a>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<a class="button button-block button-clear button-green icon-left ion-ios-box-outline" href="#/app/archive">
							Archive
						</a>
					</div>
				</div>
			</div>
		</div><!-- END .card -->
	</ion-content>
</ion-view>
