<ion-view view-title="420 Radio">
  <ion-content>

    <div class="card">
        <div class="row">
        	<div class="col">
        		<a class="button button-block button-clear button-balanced" href="#/app/listenNow">
                    <i class="icon ion-ios-play-outline"></i> Listen Now
                </a>
        	</div>
        </div>

        <div class="row">
        	<div class="col">
        		<a class="button button-block button-clear button-balanced" href="#/app/archive">
                    <i class="icon ion-ios-box-outline"></i> Archive
                </a>
        	</div>
        </div>
    </div><!-- END .card -->
  </ion-content>
</ion-view>
