<ion-view view-title="420 Radio">

	<ion-content>
		<div class="card primary-buttons">
				<a class="row button button-block button-clear button-green" href="#/app/listenNow">
					
					<div class="col-20 img-icon">
						<img src="img/play.png">
					</div>	
					
					<div class="col text">
						Listen Now
					</div>

				</a>

				<a class="row button button-block button-clear button-green" href="#/app/archive">
					
					<div class="col-20 img-icon">
						<img src="img/archive.png">
					</div>

					<div class="col text">
						Archive
					</div>
				</a>
			</div>
		</div><!-- END .card -->
	</ion-content>
</ion-view>
