/* ========================= */
/* == UTILITIES / HELPERS == */
/* ========================= */

/* Disable user interaction */
.no-select {
	pointer-events: none !important;
}

/* Responsive images */
img {
	max-width: 100%;
}

/* Center align text */
.center-text {
	text-align: center;
}

/* Custom button text color */
.button-green {
	color: #84bd00 !important;
}

/* ============= */
/* == TOP BAR == */
/* ============= */
.bar-header {
	background-color: #84bd00 !important;
	height: 90px !important;
}

/* Title Text */
.bar-header .title {
	color: #fff !important;
	margin-top: 24px !important;
	overflow: visible !important;
}

/* Bar Buttons */
.bar-header .button {
	color: #fff !important;
}

.bar-header .header-item {
	margin-top: 20px;
}

.header-item.title {
	font-size: 1.5em;
}

.has-header {
	top: 90px !important;
}

/* =============== */
/* == SIDE MENU == */
/* =============== */

.menu-item {
	border: none;
}

.menu-item h3,
.menu-item p {
	font-size: 1em;
	font-weight: normal;
	color: #70707A;
}

.menu-item h3 {
	padding: 24px 0 20px;
}

.menu-item img {
	width: 70%;
	margin-bottom: 16px;
}

/* ============== */
/* == SEEK BAR == */
/* ============== */

/* Container */
.seek-bar {
	position: absolute;
	width: 100%;
	top: -100%;
}

/* Time */
.seek-bar span {
	display: block;
	width: 96%;
	text-align: right;
	color: rgba(0, 0, 0, 0.4);
}

/* ================== */
/* == PLAY / PAUSE == */
/* ================== */

/* Container */
.footer-bar {
	height: auto;
	background: #fff;
	color: #84bd00;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* Buttons */
.footer-bar i.icon.ion-ios-play-outline,
.footer-bar i.icon.ion-ios-pause-outline {
	font-size: 80px;
}

/* ================== */
/* == SPONSOR VIEW == */
/* ================== */

/* Container */
.sponsor-content {
	padding: 40px 15% 0;
}

.sponsor-content a {
	display: block;
	width: 100%;
}

.sponsor-content p {
	font-size: 1.25em;
	line-height: 1.5em;
	text-align: center;
	margin-top: 40px;
}





.primary-buttons {
	position: relative;
	top: 80px;
	box-shadow: none;
}

.primary-buttons .row {
	margin: 40px 0;
}

.primary-buttons .button {
	font-size: 40px;
}

.primary-buttons .button::before {
	font-size: 90px;
}






















